@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  color: #fff;
  background-color: #000;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}

#sales {
  padding: 40px 10px;
}

.dsmeta-sales-title {
  color: #676fff;
  font-size: 24px;
  margin-bottom: 20px;
}